<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Lunch Lotto</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Favicon Image -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

  <!-- Google API -->
  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCjIgTt1g9A5RbibI7lN8vsHSlbsnj0rI&callback=initMap&libraries=places">
  </script>  -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCjIgTt1g9A5RbibI7lN8vsHSlbsnj0rI&libraries=places&language=en"></script>

  <!-- jQueryUI -->
  <link rel="stylesheet" type="text/css" media="all" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css"
  />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>

  <!-- Hero image header -->
  <div id="hero-div">
    <div id="hero-text">
      <h1>Decisions are hard.
        <br> Let us help.</h1>
      <button id="hero-btn" type="button" class="btn btn-link">
        <p>Get started</p>
        <span class="glyphicon glyphicon-chevron-down bounce" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <!-- User Content -->
  <div class="container">
    <!-- User Buttons/header buttons -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-3">
        <button id="make-group-btn" type="button" class="btn btn-link">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Create Group
        </button>
        <button id="existing-group-btn" type="button" class="btn btn-link">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Find a Group
        </button>
      </div>
    </div>

    <!-- Form: Create new group -->
    <!--==========================================================================================-->

    <div id="new-group-form" class="row">
      <div class="col-xs-4 col-sm-offset-4 text-center">
        <!-- Group Name Input-->
        <p class="form-heading">Group Name</p>
        <input class="form-control" id="new-group" placeholder="Enter Your Group Name">
        <br>
        <br>

        <!-- User Name Name Input-->
        <p class="form-heading">Your Name</p>
        <input class="form-control" id="new-user" placeholder="Enter Your Name">
        <br>
        <br>
        <!-- Submit new Group-->
        <button id="submit-new-grp" type="button" class="btn btn-link">
          Create Group
        </button>
      </div>
    </div>
    <!--==========================================================================================-->


    <!-- Form: Find group -->
    <div id="existing-group-form" class="row">
      <div class="col-xs-4 col-sm-offset-4 text-center">
        <!-- Group Name -->
        <p class="form-heading">Group Name</p>
        <input class="form-control" id="existing-group" placeholder="Find Your Group Name">
        <br>
        <br>
        <!-- Find Group -->
        <button id="find-group" type="button" class="btn btn-link">
          <p>Find Group</p>
        </button>
        <!-- Find all groups -->
        <!-- <button id="find-all-groups" type="button" class="btn btn-link">
          <p>Find All Groups</p>
          <span class="glyphicon glyphicon-chevron-down bounce" aria-hidden="true"></span>
        </button> -->
      </div>
    </div>



    <!-- Restaurant Form -->
    <div id="group-form" class="row">
      <div class="col-xs-4 col-sm-offset-2 text-center">
        <div id="display-group">
          <!-- Display Group and its current restaurants -->
          <div id="group-name">
            <span id="groupLabel"></span>
            <span id="groupName"></span>
          </div>

          <div id="user-list">
            Members of Group:
            <br>
            <span id="userNames"> (pulled from database if group exists)</span>
          </div>

        </div>
      </div>

      <div class="col-xs-4 text-center">
        <div id="new-restaurant">
          <!-- Add Restaurant to group -->
          <p>Suggest a new restaurant:
            <p>
              <!-- Username -->
              <!-- Future: Set a group leader w/ admin abilities -->
              <p>User Name</p>
              <input class="form-control" id="username" placeholder="Enter Your Name">
              <!-- Enter Location  -->
              <p>Location</p>
              <input class="form-control" id="location" placeholder="City and State">
              <!-- Add Restaurant field -->
              <div id="rest-list">
                <p id="rest-name" class="rest-heading">Restaurant Suggestion</p>
                <input class="form-control" id="restaurant-name" placeholder="Enter a Restaurant Suggestion">
                <br>
                <!-- On Add, post request + update the above display-group div -->
                <button id="submit-pick" type="button" class="btn btn-link">Add</button>
              </div>
        </div>
      </div>
    </div>

    <!-- All Groups Form -->
    <div id="all-groups" class="row">
      <div class="col-xs-4 col-sm-offset-4 text-center">
        <!-- col-sm-offset-4 -->
        <div id="allGroups">
          <div id="allGroupsHead">All Groups</div>
          <div id="allGroupsList"></div>
        </div>
      </div>
    </div>

    <!-- Map -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7 center-align">
        <div id="mapContainer" class="">
          <div id="map"></div>
        </div>
      </div>
    </div>



    <!-- Footer -->
    <div class="footer navbar-fixed-bottom">
      <p> CONTRIBUTORS: Alycia Riley, Rob Castellano, Ben Cross, Jennifer Kral</p>
      <div class="copyright">
        <p> &copy; 2018 </p>
      </div>
    </div>

  </div>
  <!-- End Container -->

  <!-- Linking all our JavaScript Files -->
  <script type="text/javascript" src="/js/find-group.js"></script>
  <script type="text/javascript" src="/js/create-group.js"></script>
  <script type="text/javascript" src="/js/lunch.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
</body>

</html>